@model IEnumerable<BankApplication.Models.DocumentMapping>

@{
    ViewBag.Title = "Index";
    int i = 0;
}

<div class="col-md-6 col-sm-6  ">
    <div class="x_panel">
        <div class="x_title">
           @foreach (var el in Model) {
               <h2>@el.LoanType.LoanDescription</h2>
               break;
           }
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                @*<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Settings 1</a>
                        <a class="dropdown-item" href="#">Settings 2</a>
                    </div>
                </li>*@
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>SrNo</th>
                        <th>
                            @Html.DisplayNameFor(model => model.DocumentMaster.DocumentName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LoanType.LoanDescription)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        i++;
                        <tr>
                            <td scope="row">@i</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DocumentMaster.DocumentName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LoanType.LoanDescription)
                            </td>
                            @*<td>
                                    @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                                    @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                                </td>*@
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.collapse-link').on('click', function () {
            var $BOX_PANEL = $(this).closest('.x_panel'),
                $ICON = $(this).find('i'),
                $BOX_CONTENT = $BOX_PANEL.find('.x_content');

            // fix for some div with hardcoded fix class
            if ($BOX_PANEL.attr('style')) {
                $BOX_CONTENT.slideToggle(200, function () {
                    $BOX_PANEL.removeAttr('style');
                });
            } else {
                $BOX_CONTENT.slideToggle(200);
                $BOX_PANEL.css('height', 'auto');
            }

            $ICON.toggleClass('fa-chevron-up fa-chevron-down');
        });

        $('.close-link').click(function () {
            var $BOX_PANEL = $(this).closest('.x_panel');

            $BOX_PANEL.remove();
        });
    });
</script>
